@import 'mixins/media-queries';

$primaryColor: #CE7373;
$secondaryColor: #AF2121;
$gray: #9e9c9c;
$lightGray: #f4f4f4;

a:link, a:visited, a:active {
	color: $primaryColor;
	text-decoration: none;
}

a:hover {
	color: $secondaryColor;
	text-decoration: none;
}

h1 {
	font-size: 3em;
	font-family: "Georgia, serif";
}

h2 {
	font-size: 2.5em;
	font-family: "Georgia, serif";
}

h3 {
	font-size: 2em;
	font-family: "Georgia, serif";
}

header {
	text-align: center;
	padding: 0.5em 0;
	line-height: 90px;

	.logo {
		float: left;
		width: 25%;
		// text-align: left;
		// color: $secondaryColor;
		// font-size: 1.2em;
		// @include phone {
		// 	float: none;
		// 	width: 100%;
		// 	text-align: center;
		// }

		img {
			width: 100%;
			float: left;
		}
	}

	nav {
		width: 75%;
		display: inline-block;
		text-align: right;
		padding: 0.5em 0;

		@include tablet {
			width: 100%;
			text-align: center;
			white-space: nowrap;
			overflow-x: scroll;
			overflow-y: hidden;
			-webkit-overflow-scroll: touch;
		}

		@include phone {
			width: 100%;
			text-align: center;
			white-space: nowrap;
			overflow-x: scroll;
			overflow-y: hidden;
			-webkit-overflow-scroll: touch;
		}

		a:link {
			color: $primaryColor;
			text-decoration: none;
			display: inline-block;
			text-align: right;
		}

		a:hover {
			color: $secondaryColor;
			text-decoration: none;
		}

		span {
			font-size: 1.2em;
			padding: 0;
			margin-left: 16px;
		}

		.active {
			a {
				color: $secondaryColor;
			}
		}
	}
}

#main-img {
	max-height: 360px;
	margin: auto;
}

.main-image {
	width: 100%;
	padding: 64px 0px;
	background-color: $lightGray;

	@include phone {
		padding: 32px 0px;
	}
}

.blog-post:last-child .divider-large {
	height: 0px;
	margin: 8px 0;
	background-color: #FFF;
}

.blog-post {
	font-family: "Georgia, serif";
	text-align: center;
	margin-bottom: 16px;

	h1 {
		font-size: 2.4em;
		font-weight: bold;
	}

	h6 {
		font-style: italic;
		font-size: 1.1em;
	}

	.body {
		font-size: 1.2em;
		text-align: left;
		margin-bottom: 1em;
	}

	.divider {
		background-color: $lightGray;
		height: 1px;
		width: 280px;
	}

	.divider-large {
		height: 1px;
		margin: 8px 0;
		background-color: $gray;
	}

	.social-sharing {
		margin-bottom: 1em;
	}
}

.comment {
	padding: 1em;
	border: 1px solid gray;
	border-radius: 0.25em;
	margin-bottom: 1.5em;

	p:last-child {
		font-size: 0.75em;
		font-style: italic;
	}
}

#toggle-compose-comment:hover {
	color: $secondaryColor;
	cursor: pointer;
}

#admin-login {
	width: 33%;
	@include phone {
		width: 100%;
	}
}

.admin-dashboard {
	section {
		background-color: $lightGray;
		padding: 8px;
		border: 1px solid $gray;
		margin-bottom: 16px;
	}

	h1 {
		font-size: 1em;
		font-weight: bold;
		margin: 0;
		margin-bottom: 8px;
	}

	form {
		display: inline-block;
	}
}

#new-post {
	margin: 16px 0;
}

.admin-post {
	h3 {
		display: inline;
	}

	p {
		margin: 0;
	}

	#published {
		color: green;
	}

	#unpublished {
		color: red;
	}
}

.reference {
	padding: 16px 0;
}

.reference:nth-of-type(odd) {
	background-color: $lightGray;
}

.product {
	padding: 16px 0;
}

.product:nth-of-type(odd) {
	background-color: $lightGray;
}
