@import 'mixins/media-queries';

$primaryColor: #CE7373;
$secondaryColor: #AF2121;
$gray: #9e9c9c;
$lightGray: #f4f4f4;

a:link, a:visited, a:active {
	color: $primaryColor;
	text-decoration: none;
}

a:hover {
	color: $secondaryColor;
	text-decoration: none;
}

header {
	text-align: center;
	padding: 0.5em 0;

	.logo {
		display: inline-block;
		float: left;
		width: 25%;
		text-align: left;
		padding: 0.5em 0;
		color: $gray;
		font-size: 1.2em;
		@include phone {
			float: none;
			width: 100%;
			text-align: center;
		}
	}

	nav {
		width: 75%;
		display: inline-block;
		text-align: right;
		padding: 0.5em 0;

		@include tablet {
			width: 100%;
			text-align: center;
			white-space: nowrap;
			overflow-x: scroll;
			overflow-y: hidden;
			-webkit-overflow-scroll: touch;
		}

		@include phone {
			width: 100%;
			text-align: center;
			white-space: nowrap;
			overflow-x: scroll;
			overflow-y: hidden;
			-webkit-overflow-scroll: touch;
		}

		a:link {
			color: $primaryColor;
			text-decoration: none;
			display: inline-block;
			text-align: right;
		}

		a:hover {
			color: $secondaryColor;
			text-decoration: none;
		}

		span {
			font-size: 1.2em;
			padding: 0;
			margin-left: 16px;
		}

		.active {
			a {
				color: $secondaryColor;
			}
		}
	}
}

#main-img {
	max-height: 360px;
	margin: auto;
}

.main-image {
	width: 100%;
	padding: 64px 0px;
	background-color: $lightGray;

	@include phone {
		padding: 32px 0px;
	}
}


.blog-post {
	font-family: "Georgia, serif";
	text-align: center;

	h1 {
		font-size: 2.4em;
		font-weight: bold;
	}

	h6 {
		font-style: italic;
		font-size: 1.1em;
	}

	.body {
		font-size: 1.2em;
		text-align: left;
	}

	.divider {
		background-color: $gray;
		height: 1px;
		width: 280px;
	}
}

.blog-posts {

	.social-sharing {
		font-family: "Georgia, serif";
		font-size: 3/4em;
		text-align: center;
	}

	.divider {
		height: 2px;
		background-color: $gray;
	}
}

#admin-login {
	width: 33%;
}

.admin-dashboard {
	section {
		background-color: $lightGray;
		padding: 8px;
		border: 1px solid $gray;
		margin-bottom: 16px;
	}

	h1 {
		font-size: 1em;
		font-weight: bold;
		margin: 0;
		margin-bottom: 8px;
	}

	form {
		display: inline-block;
	}
}

#new-post {
	margin: 16px 0;
}

.admin-post {
	h3 {
		display: inline;
	}

	p {
		margin: 0;
	}

	#published {
		color: green;
	}

	#unpublished {
		color: red;
	}
}

