.companies {
  text-align: center;
  height: auto;
  min-height: 170px;
  line-height: 170px;
  overflow-x: scroll;
  white-space: nowrap;

  a {
    padding: 0 32px;
  }

  img {
    height: auto;
    position: relative;
  }
}

.detail {
  display: none;
  text-align: center;

  h3 {
    font-weight: bold;
  }
}

.detail:first-of-type {
  display: block;
}