@import "main";

.service {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
  border: 1px solid $primaryColor;
  border-radius: 4px;
  font-size: 14px;

  h5 {
    font-weight: bold;
  }
}

.row:first-child {
  margin-top: 32px;
}

.row:last-child {
  margin-bottom: 32px;
}
