.companies {
  text-align: center;
  height: 170px;
  line-height: 170px;

  a {
    padding: 0 8px;
  }

  img {
    height: auto;
    position: relative;
  }
}

.detail {
  display: none;
}

.detail:first-of-type {
  display: block;
}